    <div class="card mt-3">
        <div class="card-header">
            <h5>search</h5>
        </div>
        <div class="card-body">
                 <form action="/search" class="form-inline d-flex">
                 <div class="form-group">
                     <input name="q" type="text" class="form-control" placeholder="Search">
                  </div>
                   <button type="submit" class="btn btn-outline-dark"><i class="fa-solid fa-magnifying-glass"></i></button>
                  </form>
        </div>
    </div>  